<div class="container pt-3">
  <div class="row align-items-start">
    

    <div class="col-md-6 mb-3 col-sm-12">
      <div class="lead">
        <h3 class="mb-4 text-warning" data-translate="details">Kontaktné údaje:</h3>

        <div class="row mb-2">
          <div class="col-5 text-start" data-translate="street">Ulica:</div>
          <div class="col-7 text-end">Kukučínova 24</div>
        </div>

        <div class="row mb-2">
          <div class="col-5 text-start" data-translate="city">Mesto:</div>
          <div class="col-7 text-end">Banská Bystrica</div>
        </div>

        <div class="row mb-2">
          <div class="col-5 text-start" data-translate="country">Štát:</div>
          <div class="col-7 text-end"data-translate="republic">Slovenská republika</div>
        </div>

        <div class="row mb-2">
          <div class="col-5 text-start" data-translate="number">Tel. číslo:</div>
          <div class="col-7 text-end text-info" style="font-family: Times New Roman"><a href="tel:+421911114715"> +421 911 114 715</a></div>
        </div>

        <div class="row mb-2">
          <div class="col-5 text-start">Email:</div>
          <div class="col-7 text-end text-info"><a href="mailto:geleta.filip@gmail.com">geleta.filip@gmail.com</a></div>
        </div>

        <div class="row mb-2">
          <div class="col-5 text-start" data-translate="ico">IČO: </div>
          <div class="col-7 text-end" style="font-family: Times New Roman">53423968</div>
        </div>
        <div class="row mb-2">
          <div class="col-5 text-start" data-translate="dic">DIČ:</div>
          <div class="col-7 text-end" style="font-family: Times New Roman">1126824479</div>
        </div>

        <div class="border-top pt-3" >
          <p class="mb-0" data-translate="statement">Zapísaný v zozname advokátov SAK pod č. 8106</p>   
        </div>

      </div>
    </div>

    
    <div class="col-md-6 col-sm-12">
      <div id="location" class="mt-5 pb-5">
        <div class="map-location">
          <div id="map-placeholder" class="ratio ratio-16x9 w-100 h-100 bg-body-secondary d-flex align-items-center justify-content-center text-center p-3 rounded">
            <div>
              <p class="mb-3">
                Táto mapa je poskytovaná spoločnosťou Google a môže používať cookies.
              </p>
              <button id="accept-map" class="btn btn-outline-light btn-sm">
                Povoliť a zobraziť mapu
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container border-top py-3 mt-1">
  <div class="d-flex flex-column flex-sm-row justify-content-between align-items-sm-center gap-2">
    

    <div class="d-flex align-items-center flex-wrap gap-2">
      <span class="small text-muted">&copy; 2025 Advokátska kancelária JUDr. Filip Geleta</span>
      
      <ul class="list-inline mb-0 ms-2 information-margin">
        <li class="list-inline-item">
          <a href="public/assets/pdf/GDPR.pdf" target="_blank" class="link-secondary link-underline-opacity-0 link-underline-opacity-75-hover">GDPR</a>
        </li>
        <li class="list-inline-item">
          <a href="public/assets/pdf/kodex_sk_en.pdf" target="_blank" class="link-secondary link-underline-opacity-0 link-underline-opacity-75-hover">Kodex</a>
        </li>
      </ul>
    </div>
  </div>
</div>